
# Número de contas permitidas para serem criadas a partir de um único endereço IP
AccountsPerIp=3

# Se verdadeiro, as contas serão automaticamente criadas no primeiro login
AutoCreateAccounts=true

# Se verdadeiro, os personagens devem ter pelo menos sete dias de idade para serem deletados
# Comente esta linha para substituir o comportamento padrão de habilitar isso no modo de Test Center e desabilitar no modo de produção.
@RestrictDeletion=true

# Qual a idade mínima que um personagem deve ter para ser deletado.
# Padrão: 7 dias.
# Formato: dd:hh:mm:ss 
DeleteDelay=00:00:00:00

# Se verdadeiro, isso habilita o comando [password
PasswordCommandEnabled=false

# Nível de proteção de senha da conta.
# Padrão: NewCrypt
# Opções: None, Crypt, NewCrypt (Padrão), NewSecureCrypt (Recomendado)
# Explicação: Plain, MD5, SHA1, SHA512
ProtectPasswords=None

