
# Indica se o reinício automático diário está ativado.
Enabled=False

# Indica o componente de hora em que o servidor reinicia, representado no formato de hora militar.
Hour=12

# Indica o componente de minutos de quando o servidor reinicia.
Minute=0

# Indica a frequência em que o servidor reinicia, em horas.
Frequency=24
