
# Se verdadeiro, o mundo será salvo automaticamente
Enabled=true

# A frequência entre os salvamentos
# Padrão: 5 minutos
# Formato: dd:hh:mm:ss
Frequency=00:00:05:00

# O tempo antes do salvamento para avisar os jogadores
# Padrão: 15 segundos
# Formato: dd:hh:mm:ss
WarningTime=00:00:00:15
