# Recompensa mínima em ouro por uma ordem de comércio completa
TurnInGold=10000

# Duração que uma caixa de comércio durará antes de ser automaticamente deletada, em minutos
CrateDuration=24

# Tempo mínimo entre emboscadas, em minutos
AmbushWaitDuration=5

# Duração em que os emboscadores são deletados, em minutos
AmbusherDelete=10
