# Ativar/Desativar o sistema. Observe que, uma vez que o sistema esteja ativo, isso não o desativará...
# Você precisará esconder/deletar todas as pedras da cidade, etc.
Enabled=True

# Quanto tempo um jogador deve esperar quando renuncia à sua cidadania, em dias
JoinWait=7

# Cada banner comprado do capitão da guarda custa, em ouro
BannerCost=250000

# Duração que um jogador deve esperar para comprar um banner subsequente, em horas
BannerCooldown=24

# Duração que o tesouro de uma cidade deve pagar pela manutenção de um acordo comercial, em dias
TradeDealPeriod=7

# Tempo de espera antes que outro acordo comercial possa ser selecionado, em dias
TradeDealCooldown=7

# Custo, por período de acordo comercial, que um tesouro pagará pela manutenção do acordo, em ouro
TradeDealCost=2000000

# Duração que um acordo comercial permanece ativo para um jogador quando utilizado, em horas
TradeDealUtilizationPeriod=24

# Quantidade máxima de urnas eleitorais que um governador pode colocar dentro de uma cidade
MaxBallotBoxes=10

# Período de tempo que um arauto da cidade anunciará via menu de contexto do Quadro de Mensagens da Cidade
AnnouncementPeriod=48
