# Esta flag controla se o proprietário do servidor quer permitir certos clientes
AllowRegular=true
AllowUOTD=true
AllowGod=true
AllowEC=true

# este atraso é quando os jogadores são expulsos do servidor
KickDelay=20
