# Para suportar o envio de emails, preencha EmailServer e FromAddress
# Porta 25 = não criptografada
# Porta 465 ou 587 = criptografada
# a criptografia requer que EmailSsl esteja definido como verdadeiro

EmailServer=
EmailPort=25
EmailSsl=False

FromAddress=

# Se quiser adicionar envio de relatórios de falhas por email, preencha CrashAddresses (vários endereços podem ser adicionados, separados por vírgula)
CrashAddresses=

# Se quiser adicionar envio de páginas de registro de fala por email, preencha SpeechLogPageAddresses (vários endereços podem ser adicionados, separados por vírgula)
SpeechLogPageAddresses=

# Se EmailUsername não estiver definido ou for nulo, a autenticação anônima será usada
EmailUsername=
EmailPassword=
