# A expansão a ser usada. Valores válidos são:
# None              Lançamento inicial (não é preciso)
# T2A               The Second Age (não é muito preciso)
# UOR               Ultima Online: Renaissance (quase preciso)
# UOTD              Ultima Online: Third Dawn (quase preciso)
# LBR               Lord Blackthorn's Revenge (quase preciso)
# AOS               Age of Shadows (preciso)
# SE                Samurai Empire (preciso)
# ML                Mondain's Legacy (preciso)
# SA                Stygian Abyss (desenvolvimento em progresso)
# HS                High Seas (poucos recursos implementados)
# TOL               Time of Legends (poucos recursos implementados)
# EJ                Endless Journey (desenvolvimento em progresso)
CurrentExpansion=ML
