# Se verdadeiro, a nova fortaleza do Conselho dos Magos ao sul da Ilha de Moonglow será usada em vez do local antigo no Edifício do Parlamento em Magincia.
NewCoMLocation=True

# O novo sistema VvV substitui facções. Se o VvV estiver ativado, as facções são desativadas e vice-versa.
# Se você quiser desativar ambos, precisa encontrar o campo Enabled em Factions.cs e marcá-lo como falso.
