# Ativar esse recurso cria Contadores de Desempenho no Windows para métricas de salvamento do mundo.
# Isso requer que o ServUO seja iniciado como Administrador pelo menos uma vez. Somente Windows!
Metrics=False

## Sistema de Ajuda por Página
# Mostrar se não houver membros da equipe disponíveis ou online
ShowStaffOffline=True

# Permitir substituir o endereço de e-mail de suporte e o site quando uma solicitação de ajuda for enviada.
# Se não configurado, a mensagem será "Você pode consultar nosso site em www.uo.com ou nos contatar em support@uo.com. Para cancelar sua solicitação, selecione o botão de ajuda novamente e escolha cancelar."
#Sintaxe da String: support@uo.com
SupportEmail=
#Sintaxe da String: https://support.uo.com
SupportWebsite=

# Tempo em minutos que itens genéricos levam para decair quando no chão
DefaultItemDecayTime=15

# Selecione falso para permitir personagens vermelhos em facetas não-Felucca
RestrictRedsToFel=False

SPHERE=False
POL=True
Debug=True
WarShard=False
RP=False
