# Se verdadeiro, ativa a virtude da honestidade
Enabled=False

# Máximo de itens de honestidade que irão aparecer
MaxGeneration=1000

# Se verdadeiro, ativa a geração de itens de honestidade em Trammel
TrammelGeneration=True
