# O bônus de sorte aplicado em Felucca
FeluccaLuckBonus=1000

# Bônus de orçamento aplicado em Felucca
FeluccaBudgetBonus=100

# Orçamento base máximo
MaxBaseBudget=700

# Orçamento base mínimo
MinBaseBudget=150

# Orçamento ajustado máximo
MaxAdjustedBudget=1450

# Orçamento ajustado mínimo
MinAdjustedBudget=150

# Máx. de propriedades
MaxProps=11

# Isso determina se você pode usar POF em joias. De acordo com a EA, você não pode, nunca!
CanPOFJewelry=False
