# Arquivo de configuração para os limites de jogadores e coisas relacionadas

#------------
# Apenas Novo Personagem
#-----------------------

# Define o limite de habilidade individual padrão. Como as habilidades têm um valor decimal
# também precisam ter um valor decimal adicionado ao seu limite de habilidade
SkillCap=1000

# Define o limite total de habilidade padrão. Como as habilidades têm um valor decimal
# também precisam ter um valor decimal adicionado ao seu limite de habilidade
TotalSkillCap=7500

# O limite total de atributos
TotalStatCap=225

# O limite individual de força
StrCap=100

# O limite individual de destreza
DexCap=100

# O limite individual de inteligência
IntCap=100

# O limite individual de força aprimorada para jogadores
StrMaxCap=150

# O limite individual de destreza aprimorada para jogadores
DexMaxCap=150

# O limite individual de inteligência aprimorada para jogadores
IntMaxCap=150

#------------
# Para Personagens Existentes Também
#-----------------------

# Obsoleto: O limite de atributo individual
StatCap=100

# Se verdadeiro, limita a capacidade do jogador de ganhar atributos dentro de um certo intervalo de tempo
# Esta opção foi desativada pela OSI Publish 45.
EnablePlayerStatTimeDelay=false

# Atraso de tempo entre ganhos de atributos de jogador
# Padrão: 15 minutos
# Formato: dd:hh:mm:ss 
PlayerStatTimeDelay=00:00:01:00

# Se verdadeiro, limita a capacidade de um animal de estimação de ganhar atributos dentro de um certo intervalo de tempo.
# Acho que isso também foi desativado pela OSI Publish 45, mas não é certo.
EnablePetStatTimeDelay=true

# Atraso de tempo entre ganhos de atributos de animais de estimação
# Padrão: 5 minutos
# Formato: dd:hh:mm:ss 
PetStatTimeDelay=00:01:00:00

# Se verdadeiro, ativa algum código anti-macro
# Se deixado no valor padrão, isso será verdadeiro se a flag da era ML não estiver ativada.
EnableAntiMacro=False

# A porcentagem de chance para um jogador ganhar em um atributo. O padrão é 5% conforme
# notas da OSI Publish 45.
PlayerChanceToGainStats=2.5

# A porcentagem de chance para um animal de estimação ganhar em um atributo. O padrão é 5% inferido de
# notas da OSI Publish 45.
PetChanceToGainStats=1.0
