# O nome exibido do shard
Name= Dragonic Shard

# A configuração padrão para o Endereço, um valor de 'null', usará seu endereço IP local.
# Se todos os seus endereços IP locais forem endereços de rede privada e AutoDetect estiver definido como 'true',
# o ServUO tentará descobrir automaticamente seu endereço IP público.
AutoDetect=false

# Se você não planeja permitir que clientes fora da sua LAN se conectem,
# pode definir AutoDetect como 'false' e deixar o Endereço definido como 'null'.
#
# Se seu endereço IP público não puder ser determinado, você deve alterar o valor
# do Endereço para o seu endereço IP público
# manualmente para permitir que clientes fora da sua LAN se conectem ao seu servidor.
# O Endereço pode ser tanto um endereço IP quanto um nome de host que será resolvido
# quando o ServUO iniciar.
#
# Se você quiser que jogadores fora da sua LAN possam se conectar ao seu servidor
# e você estiver atrás de um roteador,
# você também deve encaminhar a porta TCP 2593 para seu endereço IP privado.
# O procedimento para fazer isso varia de acordo com o fabricante, mas geralmente envolve
# a configuração do roteador através do seu navegador da web.
@Address=127.0.0.1

# A porta para vincular o ouvinte.
# Padrão: 2593
@Port=2593
