# Em segundos, quanto tempo você espera até ser teleportado para uma sala da shadowguard
# assim que o encontro começa
ReadyDuration=30

# Esta flag controla se você começa em uma instância (sala) aleatória na shadowguard,
# ou em ordem começando no canto noroeste. Veja a Tabela EncounterBounds em
# Controller.cs.
RandomizeInstances=False
