# Conjunto de regras do Siege Perilous, falso por padrão
IsSiege=false

# Se o siege estiver ativo, esta é a quantidade de jogadores por conta. Note que a EA permite apenas 1 por conta em shards com conjunto de regras de siege
CharacterSlots=7
