# Configuração para a Ultima Store

# Ativar ou desativar a Ultima Store
Enabled=True

# Limitar a Ultima Store por expansão.
Expansion=ML

# Endereço do site para mais informações.
Website=http://www.ultimafronteirashard.com.br

# Valores: None|Sovereigns|Gold|PointsSystem|Custom
# Custom usa o manipulador ResolveCurrency e requer desenvolvimento adicional para implementar.
CurrencyImpl=Sovereigns

# String Namespace.Class.Method totalmente qualificada para o método do manipulador de moeda personalizada.
# Usado quando Custom é escolhido para o CurrencyImpl.
# Um método alvo que implementa get/consume para moedas personalizadas.
# Parâmetros Esperados: Usuário Mobile, Int32 consumir
# Retorno Esperado: Int32  
# Exemplo: Server.Engines.UOStore.CustomClass.CustomMethod
ResolveCurrency=

# Como você quer chamar sua moeda?
CurrencyName=bitcoin

# Exibir CurrencyName na interface da Ultima Store.
CurrencyDisplay=True

# Usado quando PointsSystem é escolhido para o CurrencyImpl.
# Valores: 
# None|QueensLoyalty|VoidPool|DespiseCrystals|ShameCrystals|CasinoData|CityTrading
# Moonglow|Britain|Jhelom|Yew|Minoc|Trinsic|SkaraBrae|NewMagincia|Vesper
# Blackthorn|CleanUpBritannia|ViceVsVirtue|TreasuresOfKotlCity|PVPArena
PointsImpl=None

# Multiplicador para o custo dos itens da loja.
# Os custos da EA atuam como um 'custo base' onde você pode aumentar ao seu critério.
# 10.0 é o mesmo que BaseCost * 10
CostMultiplier=1.0

# Capacidade máxima do carrinho.
CartCapacity=10
