# Queremos usar locais de mapa de tesouro aleatórios?
Enabled=True

# Chance base de loot. Este valor pode ser sobrescrito em BaseCreature.cs, a propósito
LootChance=.01

# Tempo de reset para o local do mapa
ResetTime=30.0
