# Arquivo de configuração para o sistema de Recompensas de Veterano

# Mude para falso para desabilitar completamente as recompensas de veterano
Enabled=false

# Se verdadeiro, a conta de um jogador deve ser antiga o suficiente para ter recebido a recompensa
# para poder usá-la. Essa funcionalidade foi desabilitada na publicação 83 da OSI. Obs.: Quebrado no momento.
AgeCheckOnUse=false

# Se verdadeiro, os limites de habilidades dos personagens serão aumentados com base no nível da recompensa. Note
# que isso não é mais o caso nos servidores da OSI.
SkillCapRewards=False

# O bônus máximo de limite de habilidade para a recompensa de veterano
# Os limites de habilidade têm um valor decimal, portanto, adicione um número adicional para o 
# valor decimal que você deseja
SkillCapBonus=200

# O número máximo de níveis para conceder bônus de limite de habilidade
SkillCapBonusLevels=4

# A duração do tempo por nível de recompensa. Nos servidores da OSI, isso seria um ano,
# mas os servidores RunUO sempre foram configurados para 30 dias.
# Formato: dd:hh:mm:ss
RewardInterval=30:00:00:00

# O nível inicial para uma nova conta. Normalmente isso é 0. Use isso para conceder
# recompensas de veterano a novos jogadores ou para testar recompensas de veterano. Note que isso *não é*
# o número de recompensas disponíveis, mas o número de "anos" que a conta
# tem por padrão.
StartingLevel=0
