# Esta flag controla um recurso não-OSI do XmlSpawner2 que às vezes adiciona gemas
# a itens, semelhante ao Diablo 2. Está desativada por padrão para proporcionar uma
# experiência semelhante à OSI.
Sockets=false

# Esta flag controla o sistema XMLPoints do XmlSpawner2. Honestamente, não tenho
# ideia do que esse sistema faz, mas é não-OSI. Isso é adicionado aos personagens
# no momento da criação, então se você souber o que faz e quiser ativá-lo, habilite-o
# quando iniciar seu shard.
Points=false

# Esta flag controla o sistema XMLMobFactions do XmlSpawner2. Honestamente, não tenho
# ideia do que esse sistema faz, mas é não-OSI. Isso é adicionado aos personagens
# no momento da criação, então se você souber o que faz e quiser ativá-lo, habilite-o
# quando iniciar seu shard.
Factions=false
